{% extends "core/base.html" %}

{% block head_meta %}
    <meta name="description" content="Projects page">
    <meta name="keywords" content="projects, portfolio">
    <title>Our Projects - AP Webstack</title>
{% endblock head_meta %}

{% block content %}

<div class="container" style="margin-top: 70px;">
    <h1 class="text-center m-5">Our Projects templates</h1>
    <p class="text-center m-2"><strong>Comming soon....</strong></p>
    <a class="text-center m-2" href="/">Go to Home</a>
</div>

{% endblock content %}