.brand-image {
    box-shadow: none !important;
    padding: 2px !important;
    opacity: 1 !important;
}

.user-panel  {
    display: none !important;
}

.main-footer div {
    display: none !important;
}
.login-logo {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 2rem !important;
}