/* custom css */

/* App root colors */
:root {
  --bg-color: #0b0b16;
  --bg-color-secondary: #1a1a2e;
  --bg-color-tertiary: #16213e;
  --text-color: #ffffff;
  --accent-color: #ae63e4;
  --blur-bg: rgba(255, 255, 255, 0.05);
  --navbar-bg: rgba(11, 11, 22);
  --success-color: #3fcf8e;
  --card-bg: #1a1a2e;
}

.accent-color {
  color: var(--accent-color);
}

/* Custom CSS for the website */

body {
  background: var(--bg-color) !important;
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

/* Navbar styles */
/* Navbar background and text color */

.navbar {
  background: var(--navbar-bg);
}

.navbar-brand {
  color: var(--accent-color) !important;
  font-weight: bold;
}

.nav-link {
  color: var(--text-color) !important;
}

.nav-link:hover {
  color: var(--accent-color) !important;

}


.custom-link {
  text-decoration: none;
  cursor: pointer;
}

.custom-link:hover {
  text-decoration: underline;
}

.link-active {
    color: var(--accent-color);
    
}
.active {
    color: var(--accent-color) !important;
}

h1,h2,h3,h4,h5,h6, p {
  color: var(--text-color) !important;
}

.glass-card {
    min-height: 500px;
    backdrop-filter: blur(6px) saturate(200%);
    -webkit-backdrop-filter: blur(6px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.6);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}